# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/build/

# Environment variables / secrets
**/.env
**/.env.*
!**/.env.example

# Logs
**/logs/
**/*.log

# OS / editor
**/.DS_Store
**/.idea/
**/.vscode/
